.login{
   height: 80vh;
   width: 70%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); 
   text-align: center;
   display: inline-flex;
   border-radius: 20px;
   background-color: var(--bg-cor2);
   -webkit-box-shadow: 1px 1px 21px 0px rgba(0,0,0,0.5); 
box-shadow: 1px 1px 21px 0px rgba(0,0,0,0.5);
}

p, h3{
    color: var(--bg-cor1);
}

.slogan{
    padding: 20px;
}

h1{
    color: var(--cor-principal);
    font-size: 36px;
    font-weight: 600;
}

span{
    font-size: 48px;
}

.ilustracao{
    
    width: 50%;
    height: 100%;
}

.ilustracao img{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.form{
    height: 100%;
    width: 50%;
    padding: 30px;
}

.input-field{
    height: 40px;
    width: 80%;
    border: solid 1px var(--bg-cor1);
    outline: none;
    padding: 5px 40px;
    margin-top: 10px;
    font-size: medium;
    border-radius: 20px;
}

.input-icon{
    margin-top: 8px;
}

.icon{
    position: absolute;
    padding: 20px;
    color: var(--bg-cor2);
}

::placeholder {
    color: var(--bg-cor2);
}

button{
   height: 40px;
   width: 40%;
   border: 1px solid var(--bg-cor2);
   outline: none;
   margin: 24px 0;
   border-radius: 20px;
   font-weight: 600;
   background-color: var(--cor-principal);
   color: var(--bg-cor2); 
   cursor: pointer;
   transition: all 0.5s ease;
}

button:hover{
    background-color: var(--bg-cor2);
    color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
}

.inscrever{
    color: var(--cor-principal);
}

.links{
    display: inline-flex;
}

.circles{
    height: 40px;
    width: 40px;
    border: 1px solid var(--bg-cor2);
    border-radius: 50%;
    background-color: var(--bg-cor1);
    font-weight: bold;
    margin: 30px 10px;
    cursor: pointer;
    padding: 8px;
    transition: all 0.5s ease;
}

.circles a {
    color: var(--bg-cor2);
}

.circles:hover{
    background-color: var(--cor-principal);
    transform: scale(1.2);

}